.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 119px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 22px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 30px auto 0 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    line-height: 1.8;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 30px 30px 50px;
  }
  
  .u-section-1 .u-image-1 {
    height: 330px;
    width: 330px;
    background-image: url("https://assets.nicepagecdn.com/6d131e50/6228481/images/Icon.png");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 18px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 503px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 384px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 384px;
    }
  
    .u-section-1 .u-image-1 {
      height: 312px;
      width: 312px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 413px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
    }
  
    .u-section-1 .u-image-1 {
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1rem;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 497px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }
  
  .u-section-2 .u-list-1 {
    grid-template-rows: auto;
    width: 1140px;
    margin: 40px auto 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    min-height: 126px;
    grid-gap: 0px 0px;
    grid-auto-columns: 12.5%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-image-3 {
    background-image: url("https://assets.nicepagecdn.com/6d131e50/6228481/images/dm.png");
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-7 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-8 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-9 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-10 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-11 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-container-layout-12 {
    padding: 30px 40px;
  }
  
  .u-section-2 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-2 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 1199px) {
     .u-section-2 {
      min-height: 126px;
    }
  
    .u-section-2 .u-list-1 {
      width: 940px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(8, 12.5%);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-list-1 {
      width: 720px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(4, 25%);
      grid-auto-columns: 25%;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-7 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-8 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-9 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-10 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-11 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-12 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-list-1 {
      width: 540px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      grid-auto-columns: 50%;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-list-1 {
      width: 340px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: 100%;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 962px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 902px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 3rem;
    margin: 14px 344px 0 auto;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 45px 148px 0 176px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 612px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 532px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 234px;
    }
  
    .u-section-3 .u-text-2 {
      margin-left: 76px;
      margin-right: 48px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 385px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 2.25rem;
      margin-right: 153px;
    }
  
    .u-section-3 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-text-2 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-layout-cell-1 {
      min-height: 236px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.875rem;
      width: auto;
      margin-top: 0;
      margin-right: auto;
      margin-left: 47px;
    }
  
    .u-section-3 .u-text-2 {
      width: auto;
      margin-top: 30px;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 1060px;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin: 60px auto 0;
  }
  
  .u-section-4 .u-list-1 {
    margin-top: 43px;
    margin-bottom: 60px;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 798px;
    grid-gap: 0px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-1 {
    height: 210px;
    width: 210px;
    background-image: url("//images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/11824bb9791250b9b0281f98/2.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-3 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-2 {
    height: 210px;
    width: 210px;
    background-image: url("//images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/6d9f8735a63c598ba23f0ec0/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-5 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-3 {
    height: 210px;
    width: 210px;
    background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/a466b6eee7555ed99a9adf60/bbef6c67-d065-15d8-00f7-04c4574b8bd9.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-7 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-4 {
    height: 210px;
    width: 210px;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/6.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-9 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-5 {
    height: 210px;
    width: 210px;
    background-image: url("//images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/ebe810d3c12f5550b0cf6ac7/3.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-10 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-11 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-6 {
    height: 210px;
    width: 210px;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/woman4.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-12 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-13 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-7 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-7 {
    height: 210px;
    width: 210px;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/5man.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-14 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-15 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  .u-section-4 .u-container-layout-8 {
    padding: 30px;
  }
  
  .u-section-4 .u-image-8 {
    height: 210px;
    width: 210px;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/woman7.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-text-16 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-4 .u-text-17 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 927px;
    }
  
    .u-section-4 .u-list-1 {
      margin-bottom: 29px;
    }
  
    .u-section-4 .u-repeater-1 {
      min-height: 658px;
    }
  
    .u-section-4 .u-image-1 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-2 {
      width: auto;
    }
  
    .u-section-4 .u-text-3 {
      width: auto;
    }
  
    .u-section-4 .u-image-2 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-4 {
      width: auto;
    }
  
    .u-section-4 .u-text-5 {
      width: auto;
    }
  
    .u-section-4 .u-image-3 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-6 {
      width: auto;
    }
  
    .u-section-4 .u-text-7 {
      width: auto;
    }
  
    .u-section-4 .u-image-4 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-8 {
      width: auto;
    }
  
    .u-section-4 .u-text-9 {
      width: auto;
    }
  
    .u-section-4 .u-image-5 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-10 {
      width: auto;
    }
  
    .u-section-4 .u-text-11 {
      width: auto;
    }
  
    .u-section-4 .u-image-6 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-12 {
      width: auto;
    }
  
    .u-section-4 .u-text-13 {
      width: auto;
    }
  
    .u-section-4 .u-image-7 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-14 {
      width: auto;
    }
  
    .u-section-4 .u-text-15 {
      width: auto;
    }
  
    .u-section-4 .u-image-8 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-4 .u-text-16 {
      width: auto;
    }
  
    .u-section-4 .u-text-17 {
      width: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1905px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-4 .u-list-1 {
      margin-bottom: 60px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 1642px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-1 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-2 {
      height: 238px;
      width: 238px;
      margin-top: 0;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-3 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-4 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-8 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-9 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-5 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-10 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-11 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-6 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-12 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-13 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-7 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-7 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-14 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-15 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-4 .u-image-8 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-4 .u-text-16 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-4 .u-text-17 {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 3403px;
    }
  
    .u-section-4 .u-list-1 {
      margin-bottom: 59px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-6 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-7 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-8 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-9 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-10 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-11 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-12 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-13 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-14 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-15 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-text-16 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-4 .u-text-17 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 3429px;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-4 .u-list-1 {
      margin-bottom: 60px;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 501px;
  }
  
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin: 60px auto 0;
  }
  
  .u-section-5 .u-list-1 {
    margin-top: -10px;
    margin-bottom: 0;
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 399px;
    grid-gap: 0px 0px;
    grid-auto-columns: 50%;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-1 {
    height: 210px;
    width: 210px;
    background-image: url("//images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/11824bb9791250b9b0281f98/2.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-2 {
    height: 210px;
    width: 210px;
    background-image: url("//images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/6d9f8735a63c598ba23f0ec0/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 20px auto 0;
  }
  
  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 927px;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 29px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 329px;
    }
  
    .u-section-5 .u-image-1 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-5 .u-text-2 {
      width: auto;
    }
  
    .u-section-5 .u-image-2 {
      height: 168px;
      width: 168px;
    }
  
    .u-section-5 .u-text-3 {
      width: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1905px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 0;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: 100%;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-5 .u-image-1 {
      height: 238px;
      width: 238px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .u-section-5 .u-image-2 {
      height: 238px;
      width: 238px;
      margin-top: 0;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 3403px;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 59px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 3429px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-5 .u-list-1 {
      margin-bottom: 0;
    }
  } .u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 326px;
  }
  
  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 3rem;
    margin: 23px auto 0;
  }
  
  .u-section-6 .u-btn-1 {
    background-image: none;
    margin: 20px auto 23px;
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-text-1 {
      font-size: 2.25rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-text-1 {
      font-size: 1.875rem;
    }
  } .u-section-7 {
    background-image: none;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 322px;
  }
  
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-7 .u-layout-cell-1 {
    min-height: 322px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 40px 25px;
  }
  
  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 2.25rem;
    margin: 32px 0 0;
  }
  
  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-text-3 {
    line-height: 1.8;
    font-size: 1.375rem;
    margin: 30px 0 0;
  }
  
  .u-section-7 .u-btn-1 {
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 670px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 554px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 630px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 514px;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 720px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-text-2 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 533px;
    }
  
    .u-section-7 .u-text-1 {
      font-size: 1.875rem;
    }
  }